<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="margin: 0; box-sizing: border-box; outline: none; padding: 0">
    <div
      style="
        display: flex;
        align-items: center;
        justify-items: center;
        padding: 0 12%;
      "
    >
      <div style="max-width: 42rem; width: 100%; margin-top: 3rem">
        <h2
          style="
            text-align: center;
            font-size: 1.85rem;
            font-weight: 800;
            color: rgba(17 24 39 1);
          "
        >
          Reset password for <%= email %>
        </h2>
        <form action="" method="post" onsubmit="validateForm()">
          <label for="password" style="font-weight: 600"
            >Enter new password</label
          >
          <input
            type="password"
            name="password"
            id="password"
            required
            style="
              appearance: none;
              border-radius: 2px;
              position: relative;
              display: block;
              width: 100%;
              padding: 12px;
              border: 1px solid rgb(209, 213, 219);
              outline: none;
            "
          />
          <div
            id="password_error"
            style="font-size: 1rem; font-weight: 300; margin-top: 5px"
          >
            password must contain at lease one special character, uppercase and
            lowercase letters with at least a number, and must be 8 character or
            more
          </div>
          <input
            type="submit"
            value="reset password"
            style="
              position: r;
              padding-top: 12px;
              padding-bottom: 0.75rem;
              padding-left: 6px;
              padding-right: 6px;
              font-weight: 500;
              border-radius: 2px;
              color: white;
              background: rgb(17, 24, 39);
              outline: none;
              cursor: pointer;
            "
          />
        </form>
      </div>
    </div>
  </body>
</html>
